<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>PPHouse</title>
</style>
</head>

<body>
<!-- Logo --> 
<img src="./Logo.jpg" alt="Logo" width="150" height="149" align="baseline"  border="5"  style="margin: 10px 10px"/> 
<!-- 横幅 --> 
<img src="./img01.png" width="1185" height="171" style="position: absolute; top: 10px; left: 300px;" /> 
<!-- 图片 --> 
<img src="./img02.png" width="1047" height="619" style="position: absolute; top: 300px; left: 300px;" /> <a href="PPHouse.html"> </a><a href="PPHouse.html">
<button type="button" style="position: absolute; top: 300px; left: 10px; margin: 20px 10px; width: 150px; height: 50px" >首页</button>
</a> <a href="./房价查询.html"> </a><a href="./房价查询.html">
<button type="button" style="left: 10px; top: 400px; position: absolute; margin: 20px 10px; width: 150px; height: 50px" >房价查询</button>
</a>
<button type="button" style="top: 500px; left: 10px; position: absolute; margin: 20px 10px; width: 150px; height: 50px" >房价趋势</button>
<button type="button" style="top: 600px; left: 10px; position: absolute; margin: 20px 10px; width: 150px; height: 50px" >房价预测</button>
<button type="button" style="top: 700px; left: 10px; position: absolute; margin: 20px 10px; width: 150px; height: 50px" >房价对比</button>
</body>
</html>
</html>
